# CC Sales Forecasting

**Objective:** Adjust Morgan Stanley's estimates of Safeway monthly sales (sourced from data vendors) using actual CC sales provided by Safeway.

The purpose of this notebook is to illustrate how two companies might use Cape to collaboratively train a linear regression model.

In [2]:
import os
from pathlib import Path

import numpy as np
import pandas as pd
import seaborn as sns

from cape.api.dataview import DataView
from cape.api.job import VerticalLinearRegressionJob
from cape.cape import Cape

In [3]:
path = Path('data')

# 1. Authenticate with the Cape system

In [4]:
CAPE_TOKEN = os.environ.get("CAPE_TOKEN") or "01EXJG1ZTS67BVKSKS8JGPE45H,AceQToHjMLGZDKDDrBte-a3Y4Y_BsgcPKw"
CAPE_PROJECT = os.environ.get("CAPE_PROJECT") or "01EXJECC3M5F4QE52PRVF608FD"
CAPE_COORDINATOR = os.environ.get("CAPE_COORDINATOR") or "https://demo.capeprivacy.com"

First, we login to the Cape service via a Python client. This token was generated from the UX, and is unique to the user and organization they're registered with.

In [5]:
c = Cape(endpoint=CAPE_COORDINATOR)
c.login(token=CAPE_TOKEN)

We can look through the projects that I've been assigned as a contributor for. We'll use the `sales-projections` project, which is linked to the Morgan Stanley (`ms`) and Safeway (`sw`) orgs in Cape.

In [9]:
c.list_projects()

PROJECT ID                  NAME            LABEL
--------------------------  --------------  ----------------
01EXJE9N2HSY9KN1T9T52KWQRG  demo            sales-projection
01EXJECC3M5F4QE52PRVF608FD  sales-forecast  sales-forecast

In [10]:
project = c.get_project("01EXJECC3M5F4QE52PRVF608FD")

## 1. Data Preparation
### a. Morgan Stanley Data

Morgan Stanley's investment arm buys credit card panels from data vendors who work with with financial institutions directly to collect the data. Here are some variables we can expect to find in a credit card panel for one of the portfolio company.
- transaction id
- transaction date
- transaction amount
- merchant description
- mcc
- brand name
- merchant location (address, city, state, state, zip, lat, lon)
- symbol
- card type
- card location (zip, cbsa)
- individual demographics (income, age)

Because the objective is to adjust the dataset at aggregate level (amount by day and state) and not the individual transactions, we created a mock dataset just including the fields: transaction_date, state and ms_transaction_amount.

In [12]:
ms_data = pd.read_csv(path / 'ms' / 'ms_data.csv')
ms_data.head()

  transaction_date state  ms_transaction_amount
0       2020-01-01    CA                      7
1       2020-01-02    CA                      7
2       2020-01-03    CA                     11
3       2020-01-04    CA                      6
4       2020-01-05    CA                      8

Because we want to adjust the estimated sales by day/state, we aggregate `ms_transaction_amount` transactions by day/state.

In [13]:
ms_agg = ms_data.groupby(["transaction_date", "state"]).agg({"ms_transaction_amount": "sum"}).rename(columns={"ms_transaction_amount": "ms_total_estimated_sales"})
ms_agg.head()

                        ms_total_estimated_sales
transaction_date state
2020-01-01       CA                           87
                 NY                           94
2020-01-02       CA                           95
                 NY                          100
2020-01-03       CA                           99

Finally, the data owner from Morgan Stanley can create a dataview pointing to the location where this dataset will be stored. In this case, it's in an S3 bucket.

In [14]:
for org in project.organizations:
    print(org)

<Organization (id=01EXJE8HYAQJN7XS627VRWSRC0, name=safeway-tech-2)>
<Organization (id=01EXJE7XNSRFKRSXX9FZ2XVCE7, name=morgan-stanley-2)>

In [15]:
ms_dataview = DataView(
    name="morgan-stanley-agg-data",
    owner_id=project.organizations[0].id,
    uri='x_data',
    schema=ms_agg.dtypes
)
project.add_dataview(ms_dataview)

DataView(id=01EXJGC2KTEVZSM5FTXFBJCX6J, name=morgan-stanley-agg-data, location=None)

## b. Safeway data

Safeway has access to their actual sales transaction. We can expect the following fields in the dataset:

- transaction id
- transaction date
- location (Safeway only need detail at state level)
- transaction type (credit/debit, cash, etc.)
- transaction amount

For the same reason before, we created a mock dataset just including the fields: transaction_date, state and sw_transaction_amount.

In [16]:
sw_data = pd.read_csv(path / 'sw' / 'sw_data.csv')
sw_data.head()

  transaction_date state  sw_transaction_amount
0       2020-01-01    CA                     15
1       2020-01-02    CA                     16
2       2020-01-03    CA                     23
3       2020-01-04    CA                     14
4       2020-01-05    CA                     18

In [17]:
sw_agg = sw_data.groupby(["transaction_date", "state"]).agg({"sw_transaction_amount": "sum"}).rename(columns={"sw_transaction_amount": "sw_total_estimated_sales"})
sw_agg.head()

                        sw_total_estimated_sales
transaction_date state
2020-01-01       CA                          188
                 NY                          204
2020-01-02       CA                          204
                 NY                          216
2020-01-03       CA                          213

In [18]:
for org in project.organizations:
    print(org)

<Organization (id=01EXJE8HYAQJN7XS627VRWSRC0, name=safeway-tech-2)>
<Organization (id=01EXJE7XNSRFKRSXX9FZ2XVCE7, name=morgan-stanley-2)>

In [19]:
sw_dataview = DataView(
    name="safeway-agg-data",
    owner_id=project.organizations[1].id,
    uri='y_data',
    schema=sw_agg.dtypes
)
project.add_dataview(sw_dataview)

DataView(id=01EXJGD9H6GDETBTP2H9C35DS9, name=safeway-agg-data, location=None)

# Morgan Stanley -- Linear Regression Job

Now the data scientist can inspect the project and its available dataviews on their end.

In [21]:
dataviews = project.list_dataviews()
dataviews

DATAVIEW ID                 NAME                     LOCATION    SCHEMA
--------------------------  -----------------------  ----------  ---------------------------------------
01EXJGC2KTEVZSM5FTXFBJCX6J  morgan-stanley-agg-data              {'ms_total_estimated_sales': 'integer'}
01EXJGD9H6GDETBTP2H9C35DS9  safeway-agg-data                     {'sw_total_estimated_sales': 'integer'}

In [34]:
morgan_stanley_dataview = project.get_dataview("01EXJGC2KTEVZSM5FTXFBJCX6J")
safeway_dataview = project.get_dataview("01EXJGD9H6GDETBTP2H9C35DS9")

Finally, we can use these dataviews to create a linear regression training job. Since the input variables and output variables are split across different dataviews, we specify this as a `VerticalLinearRegressionJob`. These dataviews are references to datasets that live elsewhere, so we just need to specify which columns in the dataview we want to use for the input and output variables of the model.

In [35]:
job = VerticalLinearRegressionJob(
        x_train_dataview=morgan_stanley_dataview,
        x_train_data_cols=['ms_total_estimated_sales'],
        y_train_dataview=safeway_dataview,
        y_train_data_cols=['sw_total_estimated_sales'],
    )

We can submit the job for execution. It should now be visible in the Cape UI. Under the hood, this sets up a worker Session on the Cape Coordinator, which will be used to orchestrate and compute the encrypted linear regression.

In [37]:

job = project.submit_job(job=job)

job

We can check the status of this job here, and when it's complete we can fetch the results.

In [45]:
job.get_status()

'Completed'

# --- testing SK LEARN results ---
TODO: Remove

In [40]:

from sklearn.linear_model import  LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

def mse(y_true, y_pred):
    return mean_squared_error(y_true, y_pred)

def display_coefficients(model, coef_names):
    print("Model Coefficients\n")
    for i, coef in enumerate(coef_names):
        if coef == 'intercept':
            print(f"{coef}: {round(model.intercept_[0], 2)}")
        else:
            print(f"{coef}: {round(model.coef_.tolist()[i][0], 2)}")

In [41]:
X_ms = pd.read_csv(path/'ms/ms_aggregate_data.csv', parse_dates=['transaction_date'])['ms_total_estimated_sales'].to_numpy().reshape(-1, 1)
y_sw = pd.read_csv(path/'sw/sw_aggregate_data.csv', parse_dates=['transaction_date'])['sw_total_estimated_sales'].to_numpy().reshape(-1, 1)

In [42]:
# Train linear regression
model = LinearRegression()
model.fit(X_ms, y_sw)

display_coefficients(model, ['ms_total_estimated_sales', 'intercept'])

Model Coefficients

ms_total_estimated_sales: 2.03
intercept: 12.13

In [43]:
pred = model.predict(X_ms)
mse_val = mse(y_sw, pred)
r2 = r2_score(y_sw, pred)

print(f"Train - R-Squared: {r2}")
print(f"Train - RMSE: {mse_val}")

Train - R-Squared: 0.9932724594707781
Train - RMSE: 2.140561949858766